<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>The IT Crew</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
<body>

    <div class="header-stripe">
        <h1><a href="/" class="main-link">The IT Crew</a></h1>
        <h4>est. 2020</h4>
    </div>

    <div class="link-bar" id="link-bar">
	<br/>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/crew">The Crew</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>
    
    <div class="spacer">
        <!-- empty div -->
    </div>

    <div class="center">
		<p>Welcome {{username}}!</p>
		<p><a href="/files">Access File Server</a></p>
		<p><a href="http://192.168.0.254:4500">Access Virtual App Enviroment</a></p>
    </div>

    <div class="footer">
        <p></p>
        <p></p>
        <p class="subtitle">The IT Crew</p>
        <p class="subtitle">CITP 125 Networking</p>
    </div>
</body>
</html>